@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background-color: rgb(89, 88, 88);
  font-family: "Roboto", sans-serif;
  
  margin: 0 auto;
}

button:focus {
  outline: 1px solid rgb(122, 122, 122);
}

/* ------ Header ------ */

header {
  display: flex;
  align-items: center;
  background-color: #262626;
  height: 60px;
  justify-content: space-between;
  padding: 1em 2em;
  margin: 0;
  border-bottom: 1px solid #969696;
}

.header-logo-container {
  cursor: pointer;
  user-select: none;
}

.logo {
  height: 20px;
}

.logo-letters {
  color: white;
  display: inline;
  font-size: 1.5rem;
  margin-left: 0.4rem;
  font-weight: 500;
}

.btn {
  background-color: #2f2f2f;
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.212);
  border: none;
  color: white;
  cursor: pointer;
  height: 35px;
  width: 130px;
  font-size: 12px;
}

.login-btn {
  background: none;
  border: none;
  color: rgb(197, 197, 197);
  cursor: pointer;
  padding: 0.5em 0;
  font-size: 14px;
  margin-right: 2em;
}

.login-btn:hover {
  color: white;
}

.new-btn {
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
  border-right: 1px solid rgb(82, 82, 82);
}

.edit-btn {
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
}

.edit-btn-active {
  background-color: hsl(219, 65%, 60%);
}

.edit-btn-logo {
  display: none;
  width: 20px;
}

.log-btn {
  background: none;
  border: none;
  color: rgb(197, 197, 197);
  cursor: pointer;
}

.log-btn:hover {
  color: white;
}

.logged-user {
  border-right: 1px solid rgb(143, 143, 143);
  font-weight: 300;
  font-size: 0.875rem;
  padding: 0.1em 1em;
}

.logout {
  align-items: center;
  display: flex;
  color: white;
  gap: 10px;
  justify-content: center;
}

.video-controls-wrapper {
  text-align: center;
}

/* ------------------- Front page Main ---------------*/
.front-page-main {
  background-color: #1F1F1F;

}


/* ------------------- Main page Banner ---------------*/
.banner{
  background-image: url("./Images/img_video_code_8_m.jpg");
  background-position: center;
  height: 350px;
  color:#f5f5f5 ;
  padding: 1.5em;
} 

.banner-info {
  padding:  1em;
}
.banner-title{
  margin-bottom: 1em;
  font-weight: 400;
}

.banner-main-text{
font-size: 1.5rem;
color: #DCDCDC;
text-shadow: 1px 3px 3px rgba(0, 0, 0, 0.774);
}

.banner-logos-container{
  display: flex;
  gap: 3em;
  justify-content: space-around;
  margin: 2.5em auto 0;
}

.banner-logo {
  height: 70px;
}

/* ------------------- Courses container ---------------*/
.courses-main-container {
  justify-content: space-evenly;
  color: #f5f5f5;

}

.courses-main-container-title {
  margin-left: 1em;
  margin-top: 1.5em;
}

.courses-card-container {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 2em;
  padding: 2em;
}

/* ------------------- Courses card ---------------*/

.course-card {
padding: 1em;
width: 500px;
height: 270px;
background: linear-gradient(180deg, rgba(58,54,69,1) 44%, rgba(43,40,51,1) 100%);
padding: 2em;
border-radius: 7px;
color:#A7A9BA;
box-shadow: 4px 4px 15px  rgba(0, 0, 0, 0.25);
cursor: pointer;
}

.course-main-top {
  display: flex;
  min-height: 110px;
}
.course-title {
  font-size: 1.4rem;
  line-height: 2em;
  min-height: 45px;
  color: #E2E2E2;
}

.course-main-top{
margin-top: 1em;
display: flex;
justify-content: space-between;
}

.course-description {
margin-top: 1em;
white-space: pre-wrap;
font-size: 0.875rem;
line-height: 1.3;
color: #A7A9BA;
width: 320px;
}

.course-logo {
  min-width: 80px;
  min-height: 85px;
}

.course-logo img {
  max-width: 80px;
  max-height: 85px;
}

.course-main-bottom {
  margin-top: 1.4em;
  display: flex;
  justify-content: space-between;
}

.course-main-bottom-duration {
  min-width: 15em;
  font-size: 0.75rem;
}
.course-main-bottom-duration span {
  color: #E2E2E2;
}


.course-main-bottom-nivel {
  font-size: 0.75rem;
}

.course-main-bottom-nivel span {
 color: #F6FF00;
}



/* ------------------- Video Player Dashboard ---------------*/
.player-dashboard-container {
  background-color: rgb(31, 31, 31);
  display: flex;
}

/*-------- Playing List (active in player mode only) --------- */
.playing-list-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: start;
  height: 100%;
  color: white;
  margin-right: 1em;
  margin-top: 0.8em ;
}

.playing-list-container h1 {
  font-size: 1.1rem;
  font-weight: 400;
  text-align: center;
  border: 1px solid #5f5f5f;
  background-color: rgb(52, 52, 52);
  display: inline;
  padding: 0.3em 0.8em;
  border-radius: 7px;
  width: 100%;
  margin-bottom: 0.5em;
}

.playing-list-container .card {
  flex: auto;
  min-width: 250px;
  max-width: 260px;
  height: auto;
}

/* ------------------ Video Player section ------------------ */
.hero {
  color: white;
  position: relative;
  width: 100%;
  aspect-ratio: 16 / 9;
  height: auto;
  overflow: hidden;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.205);
  padding: 9px 15px;
}

.video-img-wrapper {
  background-image: url("./Images/frontend_background.jpg");
  border-bottom: 1px solid rgb(83, 83, 83);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5em;
  height: auto;
  width: 100%;
  aspect-ratio: 16/ 9;
  padding: 0 2em;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.295);
  border-radius: 7px;
  margin-top: 5px;
}

.video-player-wrapper {
  display: flex;
  justify-content: center;
  align-items: start;
  background-color: rgb(24, 24, 24);
  width: 100%;
  height: auto;
  aspect-ratio: 16/ 9;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.295);
  border-radius: 7px;
  overflow: hidden;
  margin-top: 5px;
}

.player-img {
  border-radius: 10px;
  object-fit: cover;
  width: 50%;
}

.hero-info {
  background-color: #2b2b2b;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.705);
  border-radius: 7px;
  margin-top: 15px;
  padding: 1.5em;
  color: #f5f5f5;
  display: flex;
  flex-direction: column;
}

.hero-info-top {
  width: 100%;
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid rgb(83, 83, 83);
  padding-bottom: 20px;
  line-height: 1.4rem;
}

.hero-info-top-left {
  width: 75%;
}

.hero-info-top-right {
  width: 15%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.hero-info-top-right .video-counter {
  font-size: 1.8rem;
  font-weight: 300;
}

.hero-info-top-left .hero-info-title {
  font-size: 1.6rem;
  font-weight: 700;
  margin-bottom: 0.5em;
  line-height: 1;
}

.hero-info-top-left .hero-info-text {
  font-weight: 300;
  font-size: 1rem;
  font-weight: 300;
}

.progress-bar-container {
  margin-top: 15px;
}
.progress {
  width: 85%;
  height: 1.3rem;
}

.progress-bar-labels {
  display: flex;
  justify-content: space-between;
  width: 85%;
  font-size: 0.8rem;
}

/* End of hero/player section */


/* ------------------ New/Edit Course --------*/
.course-form-container{
  display: flex;
  background-color: #131313;
  padding: 2em 2em 4em;
  gap: 20px;
  justify-content: space-around;
}

.course-data-form{
  width: 50%;
}

.course-preview-card{
  width: 40%;
  margin-top: 2.5em;
}

.course-video-list-container {
  display: flex;
  align-items: center;
  background-color: #2B2B2B;
  padding: 1em 2em;
  gap: 2em;

}

.add-new-video-container { 
  display: 	flex;
  align-items: center;
  padding: 1em 3em;
  background-color: #353535;
  gap: 10px;
  font-size: 1.125rem;
}

.add-new-course-plus{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.5rem;
  color: #f8f8f8;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: #215CAB;
  cursor: pointer;
}
/* ------------------ Cards ------------------ */

/* colores para asignar a nuevas categorías */
.category1-title {
  color: #6bd1ff;
}

.category2-title {
  color: #00c86f;
}

.category3-title {
  color: #ffba05;
}

.category1-cards {
  border-top: 5px solid #6bd1ff;
}

.category2-cards {
  border-top: 5px solid #00c86f;
}

.category3-cards {
  border-top: 5px solid #ffba05;
}

/* fin de colores para asignar a nuevas categorías */

.section-frame {
  display: flex;
  white-space: nowrap;
}

.section-frame-side {
  content: "";
  width: 100%;
}

.section-frame-side-line {
  border-bottom: 1px solid #5f5f5f;
  height: 50%;
}

.cards-container-spacer {
  background-color: #292929;
  width: 100%;
  height: 60px;
  /* aspect-ratio: 16 / 9; */
}

.cards-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: #292929;
  color: #e6e6e6;
  padding: 2.2em 2em;
  margin-top: 3em;
  width: 100%;
}

.cards-container h1 {
  font-size: 1.1rem;
  font-weight: 400;
  text-align: center;
  border: 1px solid #5f5f5f;
  display: inline;
  padding: 0.3em 0.8em;
  border-radius: 20px;
}

.front-cards-container,
.back-cards-container {
  display: flex;
  gap: 1em;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card {
  flex: auto;
  min-width: 250px;
  max-width: 260px;
  height: auto;
  padding: 0.8em 0.8em 1.3em 0.8em;
}

.card.selected-card {
  background-color: #8a8a8a2b;
}
.card-img {
  width: 100%;
  aspect-ratio: 16/9;
  margin-bottom: 0.1em;
  object-fit: cover;
  border-radius: 10px;
}

.card,
.card-img {
  border-radius: 4px;
}

.card-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card-viewed {
  border-radius: 5px;
  min-width: 20px;
  height: 10px;
  background-color: rgba(73, 255, 18, 0.863);
  box-shadow: 0 0 10px 0px rgb(25, 231, 6);
  margin-left: 4px;
  transition: all 0.5s ease-in-out;
}

.card-not-viewed {
  border-radius: 5px;
  min-width: 20px;
  height: 10px;
  border: 2px solid #3c3c3c;
  background-color: rgb(25, 25, 25);
  margin-left: 4px;
  transition: all 0.5s ease-in-out;
}

.card-title {
  max-width: 100%;
  font-weight: normal;
  font-size: 14px;
  padding: 0;
  height: 18px;
}

.card-action {
  display: flex;
  justify-content: space-around;
  background-color: #313131;
  border-radius: 7px;
  box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.164);
  font-size: 0.75rem;
  padding: 0.7em;
  margin-top: 2em;
}

.card-delete {
  border-left: 1px solid gray;
  padding-left: 2.2rem;
}

.card-edit,
.card-delete {
  display: flex;
  align-items: center;
  gap: 0.8em;
  color: #a5a5a5;
  cursor: pointer;
}

.card-edit:hover,
.card-delete:hover {
  color: white;
  filter: invert(48%) sepia(0%) saturate(397%) hue-rotate(25deg)
    brightness(116%) contrast(1000%);
}

.svg {
  width: 20px;
  filter: invert(48%) sepia(5%) saturate(397%) hue-rotate(25deg)
    brightness(116%) contrast(80%);
}

/* ------------------ Modal ------------------ */

dialog {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(10px);
  border: none;
  min-width: 100%;
  min-height: 100%;
}

.edit-container {
  background-color: #03122f;
  border: 1px solid #133866;
  border-radius: 15px;
  color: #2271d1;
  height: 80%;
  max-width: 800px;
  margin: auto auto;
  padding: 3em 5em;
  position: relative;
}

dialog h1 {
  font-size: 2.25em;
  font-weight: 400;
  margin-bottom: 0.4em;
  text-align: left;
}

.close-btn {
  position: absolute;
  right: 7px;
  top: 7px;
  cursor: pointer;
}

.edit-form {
  display: flex;
  flex-direction: column;
  color: azure;
  gap: 10px;
  max-width: 600px;
  min-width: 350px;
}

.edit-form label {
  font-size: 14px;
  font-weight: 400;
  margin-top: 1em;
}

.edit-input,
.edit-text-area {
  background-color: #1d1d1d;
  border: 1px solid #4A4A4A;
  border-radius: 5px;
  color: #d5e5f8;
  font-size: 16px;
  padding: 8px 10px;
  font-family: inherit;
  font-weight: 400;
}

.edit-input {
  height: 45px;
}

.edit-text-area {
  height: 120px;
  resize: none;
  scrollbar-color: #1b5499 #09255e;
}

.edit-input:focus,
.edit-input:active,
.edit-text-area:focus {
  outline: 2px solid #347acf;
}

.modal-btn {
  margin: 0 0 0 auto;
}

.modal-btn-submit,
.modal-btn-reset {
  border: none;
  border-radius: 5px;
  padding: 0.7em 1.3em;
}

.modal-btn-submit {
  background-color: #215cab;
  border: 1px solid #215cab;
  box-shadow: inset 0px 0px 10px #2271d17c;
  color: white;
  cursor: pointer;
  transition: 1s;
}

.modal-btn-submit:hover {
  border: 1px solid white;
  color: white;
  transition: 1s;
}

.modal-btn-reset {
  background-color: #2c2c2c;
  margin-right: 1em;
  border: 1px solid #2c2c2c;
  box-shadow: 0px 0px 30px rgb(20, 20, 20);
  color: #a8a8a8;
  cursor: pointer;
  transition: 0.5s;
}

.modal-btn-reset:hover {
  background-color: rgb(17, 17, 17);
  border: 1px solid white;
  color: white;
  transition: 0.5s;
}

.error-msg-container {
  color: #f61e1e;
  font-size: 1.3em;
  display: flex;
  height: 30px;
  margin-bottom: 15px;
}

/* ------------------ fin de modal ------------------ */

/* ------------------------- login screen -------------------------*/

.login-container {
  height: 50vh;
  max-width: 500px;
  margin-top: 4em;
  background: linear-gradient(
    180deg,
    rgba(29, 27, 50, 1) 44%,
    rgba(24, 43, 78, 1) 100%
  );
}

.login-title {
  margin-top: 0.4em;
  font-weight: 400;
  font-size: 2rem;
  text-align: left;
}

.login-btn-submit {
  background-color: #215cab;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 1rem;
  margin: -2em 0 0 auto;
  padding: 0.8em 1.3em;
  cursor: pointer;
}

.login-input {
  border: none;
  background-color: #153969;
  height: 45px;
  border-radius: 5px;
  color: #d5e5f8;
  font-size: 16px;
  padding: 8px 10px;
  font-family: inherit;
  font-weight: 400;
}


/* ------------------------- footer ------------------------- */

footer {

  display: flex;
  justify-content: center;
  background-color: rgb(36, 36, 36);
  box-shadow: 0 -2px #2271d1;
  height: 70px;
  align-items: center;
  width: 100%;
}

.footer-logo {
  height: 30px;
}

/* ------------------ Media query , different display size ------------------ */

@media (min-width: 900px) {
  header,
  .cards-container-spacer,
  .cards-container,
  footer {
    margin: 0 auto;
  }

  .hero {
    width: 1200px;
    margin: 0 auto;
    position: relative;
    overflow: visible;
    aspect-ratio: unset;
  }

  .video-player-wrapper {
    background-color: rgb(24, 24, 24);
    z-index: 200;
  }

  /*   .hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: -152px;
    width: 1200px;
    height: 100%;
    background-color: rgb(0, 0, 0);
    text-align: center;
  } */

  .cards-container-spacer {
    max-height: 564px;
  }
}

@media (max-width: 600px) {
  header {
    padding: 1em;
  }

  .logo {
    height: 20px;
  }

  .video-controls-wrapper {
    display: flex;
    background-color: rgb(44, 44, 44);
    border-top: 1px solid rgb(61, 84, 209);
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 0;
    left: 0;
    height: 70px;
    width: 100%;
    box-shadow: 0 -3px 15px rgba(0, 0, 0, 0.26);
  }

  .video-img-wrapper {
    height: 100%;
    padding: 1em;
    width: 100%;
  }

  .player-img,
  .hero-info {
    width: 50%;
  }

  .player-img {
    border-radius: 5px;
  }

  .hero-info-category {
    font-size: 1rem;
  }

  .hero-info-title {
    margin-bottom: 0.5em;
    font-size: 0.875rem;
  }

  .hero-info {
    overflow: hidden;
  }

  .hero-info {
    font-size: 0.7rem;
    line-height: 1.3;
    font-weight: 300;
  }

  .cards-container {
    padding: 2em 1em 5.5em;
  }

  .section-frame {
    margin: 20px 0 25px;
  }

  .card {
    margin: 0 0 1em;
  }
}

@media (max-width: 470px) {
  /* login screen */

  dialog {
    padding: 0;
  }

  .edit-container {
    border-radius: 0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin: auto auto;
    padding: 3em 3em;
  }

  .login-container {
    height: 55vh;
    width: 100%;
  }

  .edit-input {
    height: 40px;
  }

  .card {
    max-width: 85%;
    aspect-ratio: unset;
  }
}
