@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background-color: #2B2B2B;
  font-family: "Roboto", sans-serif;
  color: #f8f8f8;
  margin: 0 auto;
}

button:focus {
  outline: 1px solid rgb(122, 122, 122);
}

/* ------ Header ------ */

header {
  display: flex;
  align-items: center;
  background-color: #262626;
  border-bottom: 1px solid #969696;
  height: 60px;
  justify-content: space-between;
  padding: 1em 2em;
  margin: 0;
}

.header-logo-container {
  cursor: pointer;
  user-select: none;
}

.logo {
  height: 20px;
}

.logo-letters {
  color: white;
  display: inline;
  font-size: 1.5rem;
  font-weight: 500;
  margin-left: 0.4rem;
}

.btn {
  background-color: transparent;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 16px;
}

.login-btn {
  background: none;
  border: none;
  color: rgb(197, 197, 197);
  cursor: pointer;
  padding: 0.5em 0;
  font-size: 14px;
  margin-right: 2em;
}

.login-btn:hover {
  color: white;
}

.new-btn {
  display: flex;
  align-items: center;
  border-radius: 5px;
  gap: 1em;
  padding: 1em 1.5em 1em 0;
  margin: 2em 2em 1em;
}


.edit-btn-active {
  background-color: hsl(219, 65%, 60%);
}

.edit-btn-logo {
  display: none;
  width: 20px;
}

.log-btn {
  background: none;
  border: none;
  color: rgb(197, 197, 197);
  cursor: pointer;
}

.log-btn:hover {
  color: white;
}

.logged-user {
  border-right: 1px solid rgb(143, 143, 143);
  font-weight: 300;
  font-size: 0.875rem;
  padding: 0.1em 1em;
}

.logout {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  gap: 10px;
}

/* ------------------- Front page Main ---------------*/
.front-page-main {
  background-color: #1F1F1F;

}


/* ------------------- Main page Banner ---------------*/
.banner{
  background-image: url("./Images/img_video_code_8_m.jpg");
  background-position: center;
  color:#f5f5f5 ;
  height: 350px;
  padding: 1.5em;
} 

.banner-info {
  padding: 1em 3.5em;
}

.banner-title{
  margin-bottom: 1em;
  font-weight: 400;
}

.banner-main-text {
  color: #DCDCDC;
  font-size: 1.5rem;
  text-shadow: 1px 3px 3px rgba(0, 0, 0, 0.774);
}

.banner-logos-container {
  display: flex;
  gap: 3em;
  justify-content: space-around;
  margin: 2.5em auto 0;
}

.banner-logo {
  height: 70px;
}

/* ------------------- Courses container ---------------*/

.courses-main-container {
  color: #f5f5f5;
  max-width: 1520px;
  margin: 0 auto;
}

.courses-main-container-title {
  margin-left: 1.5em;
  margin-top: 1.5em;
}

.courses-card-container {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 2em;
  padding: 2em;
  width: 1520px;
  margin: 0 auto;
}

/* ------------------- Courses card ---------------*/

.course-card {
  background: linear-gradient(180deg, rgba(58,54,69,1) 44%, rgba(43,40,51,1) 100%);
  border-radius: 7px;
  box-shadow: 4px 4px 15px  rgba(0, 0, 0, 0.25);
  color:#A7A9BA;
  cursor: pointer;
  padding: 2em;
  height: 270px;
  position: relative;
}

.course-card.preview {
  border: 1px solid white;
  max-width: 550px;
}

.course-main-top {
  display: flex;
  min-height: 110px;
  gap: 1.2em;
}

.course-title {
  color: #E2E2E2;
  font-size: 1.4rem;
  line-height: 2em;
  min-height: 45px;
}

.course-title.preview {
  color: #d71919;
  font-size: 1.4rem;
  line-height: 2em;
  min-height: 45px;
}

.course-main-top {
  display: flex;
  justify-content: space-between;
  margin-top: 1em;
}

.course-description {
  color: #A7A9BA;
  font-size: 0.875rem;
  margin-top: 1em;
  line-height: 1.3;
  white-space: pre-wrap;
  max-width: 450px;
  
}

.course-logo {
  min-width: 80px;
  min-height: 85px;
}

.course-logo img {
  max-width: 80px;
  max-height: 85px;
}

.course-main-bottom {
  display: flex;
  justify-content: space-between;
  margin-top: 1.4em;
}

.course-main-bottom-duration {
  font-size: 0.75rem;
  min-width: 15em;
}

.course-main-bottom-duration span {
  color: #E2E2E2;
}


.course-main-bottom-nivel {
  font-size: 0.75rem;
}

.course-main-bottom-nivel span {
 color: #F6FF00;
}

.card-action-course {
  display: flex;
  gap: 40px;
  fill: rgba(58,54,69,1);
  position: absolute;
  right: 2em;
  top: 15px;
}

.card-edit-course,
.card-delete-course  {
  filter: brightness(0) saturate(100%) invert(58%) sepia(8%) saturate(589%) hue-rotate(218deg) brightness(93%) contrast(91%);
}

.card-edit-course:hover,
.card-delete-course:hover {
  filter: invert(48%) sepia(0%) saturate(397%) hue-rotate(25deg)
  brightness(116%) contrast(1000%);
}


/* ------------------- Video Player Dashboard ---------------*/
.player-dashboard-container {
  background-color: #2B2B2B;
  display: flex;
}


/*-------- Playing List (active in player mode only) --------- */

.player-dashboard-container {
  display: flex;
  justify-content: center;
  max-width: 1650px;
  margin: 0 auto;
}

.playing-list-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  height: 95vh;
  padding: 1.5em;
  margin-top: 0.8em ;
  margin-right: 1em;
  margin-bottom: 1em;
  background-color: #202020;
  overflow-y: scroll;
}

.playing-list-container h1 {
  background-color: rgb(52, 52, 52);
  border-radius: 7px;
  display: inline;
  font-size: 1.1rem;
  font-weight: 400;
  padding: 0.7em;
  margin-bottom: 1em;
  text-align: center;
  width: 100%;
}

.playing-list-container .card {
  flex: auto;
  height: auto;
  min-width: 250px;
  max-width: 260px;
}

.hero {
  aspect-ratio: 16 / 9;
  color: white;
  
  padding: 9px 15px;
  
  width: 100%;
}

.video-img-wrapper ,
.hero-info, 
.hero {
  max-width: 1200px;
}

.video-img-wrapper {
  aspect-ratio: 16/ 9;
  align-items: center;
  display: flex;
  background-image: url("./Images/frontend_background.jpg");
  border-radius: 7px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.295);
  gap: 1.5em;
  height: auto;
  justify-content: center;
  padding: 0 2em;
  margin-top: 5px;
  width: 100%;
}

.video-player-wrapper {
  aspect-ratio: 16/ 9;
  display: flex;
  justify-content: center;
  align-items: start;
  background-color: rgb(24, 24, 24);
  border-radius: 7px;
  height: auto;
  overflow: hidden;
  margin-top: 5px;
  width: 100%;
}

.player-img {
  border-radius: 10px;
  object-fit: cover;
  
}

.hero-info {
  background-color: #363636;
  border-radius: 7px;
  color: #f5f5f5;
  padding: 1.5em;
  margin-top: 15px;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.705);
}

.hero-info-top {
  width: 100%;
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid rgb(83, 83, 83);
  padding-bottom: 20px;
  line-height: 1.4rem;
}

.hero-info-top-left {
  width: 75%;
}

.playing-list-container .card {
  max-width: 400px; 
}

.hero-info-top-right {
  align-items: center;
  display: flex;
  gap: 30px;
  flex-direction: column;
  width: 15%;
}

.hero-info-top-right {
  font-size: 1.8rem;
  font-weight: 300;
}

.video-counter {
  font-size: 1.2rem;
  
}

.hero-info-top-left .hero-info-title {
  font-size: 1.4rem;
  font-weight: 700;
  margin-bottom: 0.5em;
}

.hero-info-top-left .hero-info-text {
  font-size: 15px;
  font-weight: 300;
  color: rgb(194, 194, 194);
}



.progress-bar-container {
  margin-top: 15px;
}

.progress {
  height: 1.3rem;
  width: 85%;
  
}

.progress-bar-labels {
  display: flex;
  justify-content: space-between;
  font-size: 0.8rem;
  width: 85%;
  color: rgb(194, 194, 194);
}

/* scrollbars*/
.playing-list-container::-webkit-scrollbar {
  width: 6px;
}


.playing-list-container::-webkit-scrollbar-track {
  background: #444444;
  border-radius: 20px;
}


.playing-list-container::-webkit-scrollbar-thumb {
  background: #888;
}


.playing-list-container::-webkit-scrollbar-thumb:hover {
  background: rgb(140, 130, 233);
}

/* Handle */
.playing-list-container::-webkit-scrollbar-thumb {
  background: rgb(96, 87, 179); 
  border-radius: 10px;
  height: 100px;
  height: 100px;
}




/* End of hero/player section */


/* ------------------ New/Edit Course --------*/
.course-form-container{
  display: flex;
  background-color: #131313;
  gap: 20px;
  justify-content: space-around;
  padding: 2em 2em 4em;
}

.course-data-form{
  width: 50%;
  margin: 0 auto;
}

.course-preview-card{
  width: 40%;
  margin-top: 2.5em;
}

.course-video-list-container {
  align-items: center;
  display: flex;
  background-color: #2B2B2B;
  gap: 2em;
  flex-wrap: wrap;
  padding: 1em 2em;
}

.add-new-video-container { 
  display: 	flex;
  align-items: center; 
  background-color: #353535;
  gap: 10px;
  font-size: 1.125rem;
  padding: 1em 6em;
  cursor: default;
}

.add-new-course-plus{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #215CAB;
  border-radius: 50%;
  color: #f8f8f8;
  cursor: pointer;
  font-size: 2.5rem;
  width: 45px;
  height: 45px;
}

.add-new-course-plus.disabled{
  background-color: #bdbdbd;
  cursor:default;
  pointer-events: none;
}

.course-finish-btn {
  background-color: #c09316;
  border: none;
  border-radius: 5px;
  color: #f8f8f8;
  cursor: pointer;
  font-size: 1.1rem;
  padding: 0.5em 1em;
  margin: 0 0 0 auto;
  
}

/* ------------------ Cards ------------------ */

.section-frame {
  display: flex;
  white-space: nowrap;
}

.section-frame-side {
  content: "";
  width: 100%;
}

.section-frame-side-line {
  border-bottom: 1px solid #5f5f5f;
  height: 50%;
}

.cards-container-spacer {
  background-color: #292929;
  height: 60px;
  width: 100%;
}

.cards-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: #292929;
  color: #e6e6e6;
  padding: 2.2em 2em;
  margin-top: 3em;
  width: 100%;
}

.cards-container h1 {
  border-radius: 20px;
  border: 1px solid #5f5f5f;
  display: inline;
  font-size: 1.1rem;
  font-weight: 400;
  text-align: center;
  padding: 0.3em 0.8em;
}

.front-cards-container,
.back-cards-container {
  display: flex;
  gap: 1em;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card {
  flex: auto;
  height: auto;
  min-width: 250px;
  max-width: 260px;
  padding: 0.8em 0.8em 1.3em 0.8em;
}

.card.selected-card {
  background-color: #8a8a8a2b;
}
.card-img {
  aspect-ratio: 16/9;
  border-radius: 10px;
  object-fit: cover;
  margin-bottom: 0.1em;
  width: 100%;
}

.card,
.card-img {
  border-radius: 4px;
}

.card-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card-viewed {
  background-color: rgba(73, 255, 18, 0.863);
  border-radius: 5px;
  box-shadow: 0 0 10px 0px rgb(25, 231, 6);
  height: 10px;
  margin-left: 4px;
  min-width: 20px;
  transition: all 0.5s ease-in-out;
}

.card-not-viewed {
  background-color: rgb(25, 25, 25);
  border-radius: 5px;
  border: 2px solid #3c3c3c;
  height: 10px;
  margin-left: 4px;
  min-width: 20px;
  transition: all 0.5s ease-in-out;
}

.card-title {
  height: 18px;
  font-weight: normal;
  font-size: 14px;
  padding: 0;
  max-width: 100%;
}

.card-action {
  background-color: #313131;
  border-radius: 7px;
  box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.164);
  display: flex;
  justify-content: space-around;
  font-size: 0.75rem;
  padding: 0.7em;
  margin-top: 2em;
}

.card-delete {
  border-left: 1px solid gray;
  padding-left: 2.2rem;
}

.card-edit,
.card-delete {
  display: flex;
  align-items: center;
  gap: 0.8em;
  color: #a5a5a5;
  cursor: pointer;
}

.card-edit:hover,
.card-delete:hover {
  color: white;
  filter: invert(48%) sepia(0%) saturate(397%) hue-rotate(25deg)
    brightness(116%) contrast(1000%);
}

.svg {
  width: 20px;
  filter: invert(48%) sepia(5%) saturate(397%) hue-rotate(25deg)
    brightness(116%) contrast(80%);
}

/* ------------------ Modal ------------------ */

dialog {
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(10px);
  border: none;
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: 10;
}

.edit-container {
  background-color: #222222;
  border: 1px solid #363636;
  border-radius: 15px;
  color: #c2c2c2;
  height: 80%;
  max-width: 800px;
  padding: 3em 5em;
  position: relative;
  margin: auto auto;
}

dialog h1 {
  font-size: 2.25em;
  font-weight: 400;
  margin-bottom: 0.4em;
  text-align: left;
}

.close-btn {
  cursor: pointer;
  position: absolute;
  right: 7px;
  top: 7px;
}

.edit-form {
  display: flex;
  flex-direction: column;
  color: azure;
  gap: 10px;
  
  max-width: 650px;
  margin: 0 auto;
}

.edit-form label {
  font-size: 14px;
  font-weight: 400;
  margin-top: 1em;
}

.edit-input,
.edit-text-area {
  background-color: #1d1d1d;
  border: 1px solid #4A4A4A;
  border-radius: 5px;
  color: #d5e5f8;
  font-size: 16px;
  padding: 8px 10px;
  font-family: inherit;
  font-weight: 400;
}

.edit-input {
  height: 45px;
}

.edit-text-area {
  height: 120px;
  resize: none;
  scrollbar-color: #1b5499 #09255e;
}

.edit-input:focus,
.edit-input:active,
.edit-text-area:focus {
  outline: 2px solid #347acf;
}

.modal-btn {
  margin: 0 0 0 auto;
}

.modal-btn-submit,
.modal-btn-reset {
  border: none;
  border-radius: 5px;
  padding: 0.7em 1.3em;
}

.modal-btn-submit {
  background-color: #215cab;
  border: 1px solid #215cab;
  box-shadow: inset 0px 0px 10px #2271d17c;
  color: white;
  cursor: pointer;
  transition: 1s;
}

.modal-btn-submit:hover {
  border: 1px solid white;
  color: white;
  transition: 1s;
}

.modal-btn-reset {
  background-color: #2c2c2c;
  border: 1px solid #2c2c2c;
  box-shadow: 0px 0px 30px rgb(20, 20, 20);
  color: #a8a8a8;
  cursor: pointer;
  margin-right: 1em;
  transition: 0.5s;
}

.modal-btn-reset:hover {
  background-color: rgb(17, 17, 17);
  border: 1px solid white;
  color: white;
  transition: 0.5s;
}

.error-msg-container {
  display: flex;
  color: #f61e1e;
  font-size: 1.3em;
  height: 30px;
  margin-bottom: 15px;
}

/* ------------------ fin de modal ------------------ */

/* ------------------------- login screen -------------------------*/

.login-container {
  height: 420px;
  max-width: 500px;
  margin-top: 4em;
  background: linear-gradient(
    180deg,
    rgba(29, 27, 50, 1) 44%,
    rgba(24, 43, 78, 1) 100%
  );
}

.login-title {
  font-weight: 400;
  font-size: 2rem;
  margin-top: 0.4em;
  text-align: left;
}

.login-btn-submit {
  background-color: #215cab;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-size: 1rem;
  padding: 0.8em 1.3em;
  margin: -2em 0 0 auto;
}

.login-input {
  background-color: #153969;
  border: none;
  border-radius: 5px;
  color: #d5e5f8;
  height: 45px;
  font-size: 16px;
  font-family: inherit;
  font-weight: 400;
  padding: 8px 10px;
}


/* ------------------------- footer ------------------------- */

footer {
  display: flex;
  align-items: center;
  background-color: rgb(36, 36, 36);
  box-shadow: 0 -2px #2271d1;
  height: 70px;
  justify-content: center;
  width: 100%;
}

.footer-logo {
  height: 30px;
}

/* ------------------ Media query , different display size ------------------ */

@media (max-width:1625px) {
  
  .courses-main-container { 
    max-width: 1200px;
  }
  
  .courses-card-container {
    justify-content: space-between; 
    margin: 0 auto;
    width: 100%;
  }

  .course-preview-card {
    width: 46%;
  }
  
  .course-card {
    width: 48%;
    margin-bottom: 1em;
  }

  .course-card.preview {
    width: 100%;
  }
  
  .add-new-video-container { 
    padding: 1em 3em;
  }

  .new-btn {
    margin: 2em 2em 1em;
  }

  .course-video-list-container {
    justify-content: space-between;
  }
}

@media (max-width:970px) {
  
  .banner-info {
    padding: 1em 2em;
  }
  
  .banner-logos-container {
    justify-content: space-between;
    padding: 0 2em;
    gap: 2em;
  }
  
  .banner-logo {
    height: 50px;
  }

  .course-card {
    margin-bottom: 0.1em;
  }

  /* create - edit course & videos */
  
  .edit-form {
    width: 100%;
  }
  
  .course-preview-card {
    width: 46%;
  }
  
  .course-card.preview {
    width: 100%;
    padding: 1.5em;
    height: 260px;
  }
}

@media (max-width:863px) {

  .courses-main-container-title {
    margin-left: 2em;
  }

  .courses-card-container {
    justify-content: center;
  }

   .course-card {
    width: 90%;
    padding-left: 4em;
    padding-right: 4em;
  }

  .card-action-course {
    right: 68px;
  }

  .new-btn {
    margin: 2em 1em 1em 3em;
  }

  /* create - edit course & videos */
  
  .course-card.preview {
    height: 220px;
  }

  .course-title.preview {
    font-size: 20px;
  }
  
  .course-main-top.preview {
    margin-top: 0;
  }

  .course-description.preview {
    font-size: 0.8125rem;
  }

  .course-main-bottom.preview {
    margin-top: 0.4em;
  }
  
  .course-logo {
    text-align: right;
  }
  
  .course-logo.preview img {
    width: 68px;
  }

  .course-video-list-container {
    max-width: 740px;
    margin: 0 auto;
  }

  .course-video-list-container .card {
    max-width: 320px;
  }

}

@media (max-width:758px) {
    
  /* create - edit course & videos */

    .course-form-container {
      justify-content: flex-start;
    }
    
    .course-preview-card {
      display: none;
    }

    .course-form-container {
      width: 100%;
    }
    
    .course-data-form {
      width: 75%;
    }
    
    .edit-form {
      max-width: none;
      min-width: none;
      width: 100%;  
    }

   
}


@media (max-width:550px) {
 
  .courses-main-container-title {
    margin-top: 1em;
    font-size: 1.25em;
  }

  .add-new-course-plus {
    width: 40px;
    height: 40px;
  }

  .new-btn {
    margin: 1.5em 2em;
    font-size: 0.975rem;
  }
  
  .courses-card-container {
    padding: 0 0 1em;
  }
  
  .course-card {
    width: 93%;
    padding-left: 2em;
    padding-right: 2em;
  }

  .card-action-course {
    right: 40px;
  }

  .banner {
    height: 300px;
  }
  
  .banner-info {
    padding: 0;
  }
  
  .banner-logos-container {
    overflow: hidden;
    padding: 0;
  }
  
  .banner-logo {
    height: 35px;
  }

  .banner-title {
    font-size: 1.5rem;
    
  }
  
  .banner-main-text{
    font-size: 1.125rem;
  }

  .courses-main-container-title {
    margin-left: 1em;
  }
  
  .course-data-form {
    width: 85%;
  }

  .new-btn {
    margin: 1.5em 1em;
  }
  
  /* Edit-create course */
  
  .add-new-video-container {
    justify-content: center;
  }

  .course-video-list-container {
    justify-content: center;
    padding-top: 2em;
  }

  .course-video-list-container {
    width: 100%;
    margin: 0 auto;
  }

  /*  Edit-create video */

  .edit-container, 
  .edit-form {
    padding: 2em 1.5em;
  }

  .edit-container h1 {
    margin: 0;
    padding-left: 0.6em;
  }

}

@media (max-width: 455px) {
  /* ------------------------- login screen -------------------------*/

.login-container {
  padding: 2em;
}

}

@media (max-width:375px) {
  
  header{ 
    padding: 1em 1.5em;
  }
    
    .header-logo-container {
      align-items: flex-end;
    }
    
    .logo-letters {
      font-size: 1.125rem;
    }

    .course-card {
      padding: 1.5em;
      height: 240px;
    }

    .course-title {
      padding-top: 0.7em;
      font-size: 1.125rem;
    }

   
    .course-main-top {
      margin-top: 0 ;
    }

    .course-main-bottom {
      margin-top: 0.5em;
    }

    .course-logo {
      display: flex;
      justify-content: flex-end;
    }
    
    .course-logo img {
      width: 65px;
    }

    .card-action-course {
      right: 20px;
      top: 7px;
    }

    /* edit-create course */
    
    .course-form-container {
      padding: 0;
    }
    
    .edit-input,
    .edit-text-area {
     font-size: 0.875rem;
    }
    
    .course-data-form {
      width: 100%;
    }

    /* edit-new video */
    
    dialog .edit-container {
      padding: 2em 0.7em;
      border-radius: 0;
      border: none;
    }

    dialog {
      padding: 0;
    }

    
}


